body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, green , yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo{
  height: 50px;
  width: 50px;
  justify-content: center;
}

.photo2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  user-select: none;
  transform: translate(-50%, -50%);
}